@charset "UTF-8";
/* Medium Editor Custom CSS */
.medium-editor-element img {
  max-width: 400px;
}
.medium-editor-insert-plugin p {
  margin-top: 0;
}
.medium-insert-images figure img, .mediumInsert figure img {
  max-width: 400px;
}

/* custom embed addon */
.medium-insert-embed .plain_url {
  display: none;
}

iframe {
  width: 400px;
}

.medium-editor-element {
  overflow-y: auto;
  resize: none;
}

/* form height of question and blog*/
.qa-part-form .editable {
  min-height: 250px;
}

/* form height of answer */
.qa-a-form .editable {
  min-height: 100px;
}

/* form height of comment */ 
.qa-c-form .editable {
  min-height: 40px;
}

/* error dialog */
dialog#editor-error {
  width: 350px;
  height: 250px;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -125px;
}

/*
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li:nth-child(2) button{
  display: none;
}
*/
