@charset "UTF-8";
/* Medium Editor Custom CSS */
.medium-editor-element img {
  max-width: 400px;
}
.medium-editor-insert-plugin p {
  margin-top: 0;
}
.medium-insert-images figure img, .mediumInsert figure img {
  max-width: 400px;
}

/* custom embed addon */
.medium-insert-embed .plain_url {
  display: none;
}

iframe {
  width: 400px;
}

.medium-editor-element {
  overflow-y: auto;
  resize: none;
}

/* form height of question and blog*/
.qa-part-form .editable {
  min-height: 250px;
}

/* form height of answer */
.qa-a-form .editable {
  min-height: 100px;
}

/* form height of comment */
.qa-c-form .editable {
  min-height: 40px;
}

/* form height of message */
.qa-template-message .medium-editor-element {
  min-height: 100px;
}

/* error dialog */
dialog#editor-error {
  width: 350px;
  height: 250px;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -125px;
}

/* medium insert plugin */
.medium-editor-insert-plugin .medium-insert-buttons button {
    color: #5f5f5f;
    border: 1px solid #5f5f5f;
}

/* medium insert buttons position */
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
    position: relative;
    left: 20px;
}

/*
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li:nth-child(2) button{
  display: none;
}
*/

.video-transloadit-id {
  display: none;
}

#video-dialog {
  width: 740px;
}

@media (max-width: 415px) {
  #video-dialog {
    width: 100%;
  }
}

.video-step {
  font-weight: bold;
}

#video-size-error {
  color: #ff0000;
}

/*
  hide video download button(chrome)
  @see http://stackoverflow.com/questions/41115801/in-chrome-55-prevent-showing-download-button-for-html-5-video
*/
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.medium-insert-videos {
  position: relative;
}

.medium-insert-videos .medium-insert-videos-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.medium-insert-videos-selected video {
  border: 2px solid #000;
}

/* replaced image tag */
.medium-insert-images .image-url {
  display: none;
}