@charset "UTF-8";
/* Medium Editor Custom CSS */
.medium-editor-element img {
  max-width: 400px;
}
.medium-editor-insert-plugin p {
  margin-top: 0;
}
.medium-insert-images figure img, .mediumInsert figure img {
  max-width: 400px;
}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li:nth-child(2) button{
  display: none;
}
